extends layout

block content
  h1= title

  form(id='nutsForm', action="/resource/nuts", method="POST")
    div.form-group
        label.nutsAttr(for='nuts_type') nuts type
        input#nuts_type(type='text', name='nuts_type')
    div.form-group
        label.nutsAttr(for='Weight') nuts weight  
        input#Duration(type='number', name='Weight')
    div.form-group
        label.nutsAttr(for='Cost') nuts Cost 
        input#Cost(type='number', name='Cost')
    input(type="submit")

  script.
    document.forms['nutsForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });